/************************************** TYPOGRAPHY *************************************************************/

/* FONTS */

.brandTitle {
    font-size: 2.3rem;
}

nav {
    font-size: 1.1em;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
}

h1, h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
}

.title {
    font-family: 'Barlow', sans-serif;
    font-size: 2.5em;
}


button {
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 800;
}

.headerTitleContainer h1 {
    font-size: 2.5em;
    margin: 0;
}

.headerTitleContainer h2 {
    font-size: 2em;
    margin: 0;
}

.aboutTextContainers h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 1.8em;
    font-weight: 800;
}

.aboutTextContainers p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.portText {
    font-family: 'Barlow-Regular', sans-serif;
    letter-spacing: 0.1px;
}

.contactSection h1 {
    font-size: 2.5em;
}

/**** COLOURS AND BACKGROUNDS ****/

.mainContainer {
    height: 100%;
    width: 100%;
    display: block;
}


nav li a, .button a, #headerText {
    color: #222;
}

#headerText h1 {
    text-shadow: 3px 3px 4px rgba(150, 150, 150, 1);
    font-size: 2em;
}

/**** SCROLL TO TOP ICON ****/

.scrollToTop {
    cursor: pointer;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    bottom: 25px;
    right: 0;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(300px);
    transition: 0.3s ease-in-out;
    background: rgb(93,91,255);
    background: linear-gradient(180deg, rgba(93,91,255,1) 35%, rgba(122,17,221,1) 100%);
}

.scrollShow {
    transform: translateX(-20px);
}

.scrollHide {
    transform: translateX(150px);
}

.scrollToTop:hover {
    background: rgb(59,142,255);
background: linear-gradient(180deg, rgba(59,142,255,1) 35%, rgba(17,73,221,1) 100%);
}

.scrollToTop img {
    height: 40px;
}

.scrollToTop img:hover {
    height: 50px;
    transition: 0.2s;
}

/***************************************** DESKTOP *****************************/


.header {
    height: 70vh;
}

.headerContainer button {
    cursor: pointer;
    transition: 0.2s;
    height: 70px;
    width: 220px;
    font-size: 1em;
    text-decoration: none;
    background-color: #211189;
    border-radius: 50em;
    color: rgb(255, 255, 255);
}

.headerContainer button:hover {
    background: rgb(93,91,255);
    background: linear-gradient(180deg rgba(93,91,255,1) 35%, rgba(122,17,221,1) 100%);
}

    .headerTitleContainer, .headerImageContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .headerTitleContainer a {
        margin-top: 3rem;
    }

    .headerImageContainer {
        align-items: center;
    }

    .vsc-controller {
        display: none !important;
    }

    .wave {
        position: relative;
        width: 100%;
    }

    /** ABOUT **/

    .aboutSection {
    height: 100%;
    width: 90%;
    margin: 50px auto;
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .header {
        height: 60vh;
    }

    .headerContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, auto);
        justify-content: center;
        align-items: start;
        margin: 6rem 4.5rem 0 8.5rem;
    }
    
    .headerTitleContainer {
        align-items: start;
        margin-top: 4rem;
    }

    .headerTitleContainer h1 {
        font-size: 2.9rem;
    }

    video {
        width: 25rem;
    }
}

@media (min-width: 1300px) {
    .headerContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, auto);
        justify-content: center;
        align-items: start;
        margin: 6rem 10.5rem 0 16.5rem;
    }
}

@media (min-width: 992px) {

.aboutSection img {
    width: 70% !important
}

.aboutContainer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 33.3%);
    height: 100%;
}


.aboutTextContainers, .aboutImageContainers {
    margin-top: 5px;
    padding: 20px;
}

.aboutImageContainers {
    margin: 0px 40px 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutTextContainers {
    width: 85%;
    margin: 0 auto;
    text-align: left !important;
    align-items: start !important;
}

.aboutTextContainers h1 {
    font-size: 2em !important;
    margin-bottom: 1rem !important;
}

.aboutTextContainers p {
    font-size: 1.3rem !important;
}

.aboutContainer img {
    width: 75%;
    height: auto;
    border-radius: 50px;
}

#aboutImage1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

#aboutText1 {
    grid-column-start: 2;
    grid-row-start: 1;
}

#aboutImage2 {
    grid-column-start: 2;
    grid-row-start: 2;
}

#aboutText2 {
    grid-column-start: 1;
    grid-row-start: 2;
}

#aboutImage3 {
    grid-row-start: 3;
    grid-row-end: 5;
}

#aboutText3 {
    padding-top: 50px;
    grid-column-start: 2;
    grid-row-start: 3;
}
}
/********* CONTACT SECTION ********/

.socialDiv {
    width: 50%;
}



@media only screen and (min-width: 1430px) {
    #portfolioContainer {
        margin: 0 auto;
        max-width: 1200px;
    }

    .aboutTextContainers {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1710px) {
   /******** SIZING / CONTAINERS ********/
   .aboutTextContainers {
    margin-top: 50px;
}
}

/************************ STYLES FOR TESTING ****************************************/



/************************** MOBILE DESIGN **************************/

/**** GENERAL ****/

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0 auto;
    font-size: 1.1em;
    font-family: 'Barlow', sans-serif;
}

.divider {
    margin: 0 auto;
    height: 5px;
    width: 20%;
    border-bottom: 3px solid black;
}

nav {
    height: 60px;
}

.title {
    text-align: center;
}

.portfolioSection .title {
    color: #eee;
}

.ctaButton:hover {
    transform: scale(1.3);
    background: rgb(93,91,255);
    background: linear-gradient(
180deg
, rgba(93,91,255,1) 35%, rgba(122,17,221,1) 100%);
}

/**** NAVBAR ****/
* {
    box-sizing: border-box;
}

nav {
    min-height: 80px;
}

ul {
    margin-top: 0;
    list-style-type: none;
}

.logo img {
    padding-top: 6px;
    height: 60px;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}

.menu li a {
    padding: 9px 9px;
    display: block;
}

.toggle {
    cursor: pointer;
}


.bars {
    background: #222;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars.active {
    background: white;
}

.bars::before,.bars::after {
    background: #222;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars.active::before, .bars.active::after  {
    background: white;
}

.bars::before {
    top: 5px;
}

.bars::after {
    top: -5px;
}

/* Mobile Menu */

.menu {
    position: relative;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    padding: 0 15px;
    position: relative;
    bottom: 5px;
    order: 1;
    cursor: pointer;
}

.item.button {
    order: 2;
}

.item {
   width: 100%;
   text-align: center; 
   order: 3;
   display: none;
}

.item.active {
    display: block;
    transition: all 0.3s;
    z-index: 1;
}

.item.active a {
    color: white;
}

/**** Tablet Menu ****/

@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
        padding: 0 3rem;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        margin-left: 20px;
        width: auto;
        border: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button a {
        text-decoration: none;
        border: 1px solid #211189;
        border-radius: 50em;
    }

    .button a:hover {
        color: white;
        transition: .25s;
        background: rgb(93,91,255);
        background: linear-gradient(180deg, rgba(93,91,255,1) 35%, rgba(122,17,221,1) 100%);

    }

}

/**** Desktop Menu ****/

@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 0;
        font-size: 1.4rem;
    }

    .menu li.button {
        padding-right: 0;
    }
}


/**************************************************** HEADER ********************************************************/

@media (max-width: 992px) {
.header {
    margin: 3rem 0 3rem 0;
}

.headerContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 13rem 17rem;
    justify-content: center;
}

.headerTitleContainer {
    grid-row-start: 2;
    grid-row-end: 3;
}

.headerTitleContainer h1 {
    font-size: 2em;
    width: 65%;
    text-align: center;
    margin: 0 auto;
}

.headerTitleContainer a {
    text-align: center;
    margin-top: 1rem;he
}

.headerImageContainer {
    grid-row-start: 1;
    grid-row-end: 2;    
}

.headerImageContainer video {
    width: 250px;
    z-index: -2;
}

.headerContainer button:hover {
    transform: scale(1.2);
}

}

/**************************************************** ABOUT SECTION ****************************************************/

.aboutSection img {
    border-radius: 15px;
    margin: 0 auto;
    width: 60%;
    height: auto;
}

.aboutSection {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
}

.aboutTextContainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    text-align: center;
}

#aboutText3 {
    padding-top: 0;
}

.aboutImageContainers {
    margin: 0;
    padding: 0;
}

.aboutSection h1 {
    font-size: 1.2em;
}
.aboutSection p {
    font-size: 0.8em;
}

/*******************************************************PORTFOLIO************************************************************/


.portfolioSection {
    background-color: #211189;
    margin-bottom: -1px;
}

#portfolioContainer {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
    height: 100%;
    padding-bottom: 7.5rem;
    flex-wrap: wrap;
}

.col {
    margin: 10px;
    height: 300px;
    width: 350px;
    border-radius: 10px;;
}

.project1 {
    background-image: url('../img/onestop.png');
    background-size: cover;
    background-position: left;
}

.project2 {
    background-image: url('../img/gemmasite.png');
    background-size: cover;
    background-position: center;
}
.project3 {
    background-image: url('../img/reactfacerecognition.png');
    background-size: cover;
    background-position: center;
}
.project4 {
    background-image: url('../img/chuck.png');
    background-size: cover;
    background-position: center;
}

.project5 {
    background-image: url('../img/spacecalc.png');
    background-size: cover;
    background-position: center;
}

.project6 {
    background-image: url('../img/ztmsite.png');
    background-size: cover;
    background-position: center;
}

.mouseOverWhite {
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    opacity: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

.mouseOverWhite:hover {
    opacity: 0.9;
}

.portText {
    transition: 0.3s;
    color: #222;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.textActive {
    transform: translateY(100px);
    opacity: 1;
}

.textHidden {
    opacity: 0;
    transform: translateY(0px);
}

.mouseOverWhite button {
    position: relative;
    top: 130px;
}

.ctaButton {
    margin: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.39);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.39);
    border-radius: 10px;
    height: 35px;
    width: 120px;
    border: none;
    text-decoration: none;
    border: 1px solid #006d6d;
    border-radius: 50em;
    transition: 0.3s;
    cursor: pointer;
    background: rgb(59,142,255);
    background: linear-gradient(180deg rgba(59,142,255,1) 35%, rgba(17,73,221,1) 100%);
    color: white;
}


/******************************************* CONTACT SECTION ********************************************************/
.contactSection {
    background-image: url('../img/footerwave.svg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    color: white;
}

.contactSectionContent {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding-top: 12rem;
}

.contactSection h1 {
    text-align: center;
    margin: 0;
}

.socialDiv {
    margin: 0 auto;
    width: 80%;
    margin-top: 45px;
}

.socialDiv span a {
    font-size: 48px; 
    color: white;
}

.socialDiv span a:hover {
    font-size: 80px; 
}

.socialDiv {
    display: flex;
    justify-content: space-evenly;
}

/*** FOOTER ***/

footer {
    background-color: rgba(0,0,0,0);
    height: 100px;
    width: 100%;
}

footer p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    font-size: 0.75em;
    padding-top: 30px;
}

/**************************************************************************************************************************************/
/**************************************************************** MEDIA QUERIES *******************************************************/
/**************************************************************************************************************************************/

/*********************************** OTHER MOBILE QUERIES ***********************************/

@media only screen and (max-width: 630px) {
    .aboutContainer img {
        width: 100%;
        height: auto;
    }

    .menu {
        padding-bottom: 3rem;
    }
}

/*********************************** TABLET MEDIA QUERIES ***********************************/  

@media only screen and (min-width: 768px) and (max-width: 796px) {
    .menu li a {
        padding: 9px 5px;
        display: block;
    }
}

@media only screen and (min-width: 780px) {

    /******** SIZING / CONTAINERS ********/
    .headerContainer {
        height: 45vh;
    }
   
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav.stroke .item a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #211189;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
} 

.button a:after {
    background: none !important;
}
